.chat__main
  .main__header
    .main__header__left__box
      .main__header__left__box__current__group
        = @group.name
        .main__header__left__box__member__list
          Member 
          = current_user.name
    .main__header__edit__btn
      = link_to edit_group_path(@group) do
        Edit
  .messages
    .message
      .message__upper__info
        .message__upper__info__talker
          = render @messages


  .form
    .form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__box__message', placeholder: ' type a message', id: "form__box"
        .form__box__mask
          = f.label :image, class: 'form__box__mask__image', id: "form__box" do
            %i.fa.fa-image
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__box__mask__submit', id: "form__box"
        